# binaries -- still installing these in-source for test suite
/build*
/ninja*
/deps
/cdb2_dump
/cdb2_printlog
/cdb2_sqlreplay
/cdb2_stat
/cdb2_verify
/cdb2sockpool
/cdb2sql
/comdb2
/comdb2ar
/pmux

# jdbc driver
!cdb2jdbc/**
cdb2jdbc/target/**
cdb2jdbc/maven.m2/**
cdb2jdbc/.gradle/**
cdb2jdbc/build/**

# hibernate dialect
contrib/cdb2hibernatedialect/.gradle/**
contrib/cdb2hibernatedialect/build/**
contrib/cdb2hibernatedialect/target/**
contrib/cdb2hibernatedialect/private/**


# generated docs
_site/
Comdb2.docset
Gemfile.lock

# test tools
tests/blob_size_limit.test/comdb2_blobtest
tests/bloballoc.test/blob
tests/cdb2api_so.test/cdb2_client
tests/cdb2bind.test/cdb2bind
tests/insert_lots.test/insert_lots_mt
tests/leakcheck.test/leakcheck
tests/sicountbug.test/sicountbug
tests/simple_ssl.test/simple_ssl
tests/sirace.test/sirace
tests/sqlite.test/comdb2_sqltest
tests/multithd.test/multithd
tests/tools/bound
tests/tools/cdb2api_caller
tests/tools/crle
tests/tools/hatest
tests/tools/localrep
tests/tools/overflow_blobtest
tests/tools/ptrantest
tests/tools/recom
tests/tools/selectv
tests/tools/serial
tests/tools/stepper
tests/tools/utf8
tests/tools/breakloop
tests/tools/insert
tests/tools/register
tests/tools/verify_atomics_work
tests/tools/cdb2_open
tests/tools/cdb2api_unit
tests/tools/cdb2_close_early


tests/test_*
tests/pmux.sqlite

# generated images
docs/site/images/*.gif
docs/sqlitegen/all.html
docs/sqlitegen/syntax_linkage.tcl
docker/maven.m2/
contrib/docker/build
contrib/docker/volumes

# editor files
*.swp
/tags

#cscope files
cscope.*
