[Unit]
Description=Socket pooler for Comdb2 connections

[Service]
ExecStart=@CMAKE_INSTALL_PREFIX@/bin/cdb2sockpool
Type=forking
User=comdb2

[Install]
WantedBy=multi-user.target
