version 2

pool default
pool extra1
pool extra2 threads 1

rule 1 action SET_POOL
rule 1 pool extra1
rule 1 flags {PRINT STOP}
rule 1 mode {REGEXP NOCASE}
rule 1 sql sleep

rule 2 action SET_POOL
rule 2 flags {PRINT STOP DYN_POOL}
rule 2 pool extra4
rule 2 mode {REGEXP NOCASE}
rule 2 sql comdb2_host
