Source: comdb2
Section: unknown
Priority: extra
Maintainer: Michael Ponomarenko <mponomarenko@bloomberg.net>
Build-Depends:  build-essential, make, libprotobuf-c0-dev, protobuf-c-compiler, flex, bison, libssl-dev, uuid-dev, libz1, libz-dev, libunwind-dev, libreadline-dev, libsqlite3-dev, gawk, libncurses5-dev
Standards-Version: 3.9.4

Package: comdb2
Depends: libz1, libuuid1, tzdata, liblz4-tool, libreadline6, libsqlite3-0, libprotobuf-c1, libssl1.0.0, supervisor
Architecture: any 
Description: Comdb2 RDBMS
 Comdb2 RDBMS
